@import '../../sass/flex';
@import '../../sass/ripples.min.scss';

.my-issue-wrapper {
  width: 100%;
  height: 100%;
  // background-color: #fff;
  flex-direction: column;

  .weui-tab__header {
    position: relative;
    flex: 0 0 100rpx;
    width: 100%;
    height: 100rpx;
    overflow: hidden;
    background-color: #fff;
  }

  .weui-tab__panel {
    position: relative;
  }

  .scroll-view-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .bottom-item {
      width: 100%;
      height: 100rpx;
      font-size: 28rpx;
      color: rgba(0, 0, 0, 0.5);
      line-height: 100rpx;
      text-align: center;
    }
  }
}
